<!doctype html>
<html>
    <head>
      <title>Túra listázó</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <style>
          body {
            background-image: url('https://www.nps.gov/tripideas/images/paintbrush2_bonney_1.JPG?maxwidth=1200&maxheight=1200&autorotate=false');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
          }
      </style> 
    </head>
    
    <body>