<%- include('header') -%>
<%- include('loginMenu') -%>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Attila túrái:</h2>
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>
                            Cím
                        </th>
                        <th>
                            Táv (km)
                        </th>
                        <th>
                            Típus
                        </th>
                        <th>
                            Rövid leírás
                        </th>
                        <th>
                            &nbsp;
                        </th>
                    </tr>
                    <tr>
                        <!-- todo: itt még valami nem stimmel, nem navigál át a  részletező nézetre (nem oda navigál)-->
                        <td>
                            <a href="/routes/001">Rám-szakadék</a>
                        </td>
                        <td>
                            15
                        </td>
                        <td>
                            Gyalogtúra
                        </td>
                        <td>
                            Mauris pharetra et ultrices neque ornare aenean euismod elementum nisi.
                            Imperdiet nulla malesuada pellentesque elit eget gravida cum.
                            Eget mauris pharetra et ultrices neque ornare aenean euismod.
                            Egestas egestas fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate.
                            Non curabitur gravida arcu ac tortor dignissim convallis aenean.
                        </td>
                        <td style="width:30px;white-space: nowrap">
                            <a href="/route/001/edit/001" class="btn btn-sm btn-primary"><i class="far fa-edit"></i></a>
                            <a href="#" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                </table>
                <br />
                <a href="/route/001/new" class="btn btn-block btn-primary">Új útvonal hozzáadása</a>
            </div>
        </div>
    </div>
<%- include('footer') -%>