<%- include('header') -%>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Főoldal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <div class="container-fluid sec-cont">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>Cím</h3>
                    <p>
                        Rám-szakadék
                    </p>
                    <h3>Táv(km)</h3>
                    <p>
                        15
                    </p>
                    <h3>Rövid leírás</h3>
                    <p>
                        Mauris pharetra et ultrices neque ornare aenean euismod elementum nisi.
                        Imperdiet nulla malesuada pellentesque elit eget gravida cum.
                        Eget mauris pharetra et ultrices neque ornare aenean euismod.
                        Egestas egestas fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate.
                        Non curabitur gravida arcu ac tortor dignissim convallis aenean.
                    </p>
                    <h3>Hosszú leírás</h3>
                    <p>

                        Mauris nisi ligula, finibus scelerisque tempus porta, elementum ut neque. Etiam porttitor sem
                        diam, eu malesuada nibh tincidunt quis. Vestibulum ante ipsum primis in faucibus orci luctus et
                        ultrices posuere cubilia.
                        Mauris pharetra et ultrices neque ornare aenean euismod elementum nisi.
                        Imperdiet nulla malesuada pellentesque elit eget gravida cum.
                        Eget mauris pharetra et ultrices neque ornare aenean euismod.
                        Egestas egestas fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate.
                        Non curabitur gravida arcu ac tortor dignissim convallis aenean.
                        Mauris nisi ligula, finibus scelerisque tempus porta, elementum ut neque. Etiam porttitor sem
                        diam, eu malesuada nibh tincidunt quis.
                    </p>
                    <h3>Útvonal fájl</h3>
                    <a href="#">Útvonal</a>
                </div>
            </div>
        </div>
    </div>
<%- include('footer') -%>